@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("./utils/font-face-inter.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Outfit", "inter";
  box-sizing: border-box;
}


.hideScrollBar {
  @apply scroll-smooth;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

.narrow-scrollbar::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

.narrow-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.narrow-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

.narrow-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}