@import url("./utils/font-face-inter.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "inter";
  box-sizing: border-box;
}

.hideScrollBar {
  @apply scroll-smooth;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}
