@import url("./utils/font-face-inter.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "inter";
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}
